<link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav" id="myTopnav" style="background-color: teal;color: white;height: 55px;display:flex; width:100%;">
    <a class="nav-link" (click)="goHome()">Home <span class="sr-only">(current)</span></a>
    <a class="nav-link">About</a>
    <a class="nav-link" (click)= "logIn()" id="logIn" *ngIf = "user == undefined" style="width: 10%;">Log&nbsp;In</a>
    <a class="nav-link" (click)= "logOut()" id="logOut" *ngIf = "user !== undefined" style="width: 10%;">Log&nbsp;Out</a>
   
    <a id="hamburger"><i class="fa fa-bars" (click)="changeHeaderStructure()"></i></a>
    <div style="width: 100%;">
      <a class="logo" style="float: none;font-size: xx-large;padding-top: 0;">Dubai's&nbsp;Landmarks</a>
    </div>
    <div style="width: 20%;">
      <a *ngIf = "user !== undefined" class="nav-link" style="float: right;">Welcome&nbsp;{{user}}!</a>
    </div>
</div>
<div *ngIf='responsive' class=".slide-rotate-hor-top" style="z-index: 90;position: absolute;top: 0;width: 50% ;right: 0;float: right;">
  <ul class="nav flex-column" style="background-color: teal;bottom: 0;">
    <li  class="nav-item">
      <a class="nav-link" (click)="goHome()">Home <span class="sr-only">(current)</span></a>
    </li>
    <li  class="nav-item">
      <a class="nav-link">About</a>
    </li>
    <li class="nav-item"> 
      <a  class="nav-link" (click)="logIn()" id="logIn" *ngIf = "user == undefined" style="width: 10%;">Log&nbsp;In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="nav-link" (click)="logOut()" id="logOut" *ngIf = "user !== undefined" style="width: 10%;">Log&nbsp;Out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf = "user !== undefined" class="nav-link" style="color: white;">Welcome {{user}}!</a>
    </li>
    <li>
  </ul>
</div>

<div style="width:fit-content; margin:auto;"> 
  <app-login [logInDisplay]="view" (userLogIn)="submitLogIn($event)"></app-login>
</div>

