share-button {
    margin-right: 5px
}

li {
    text-align: justify;
}

span {
    margin-bottom: 20px;
    font-size: x-large;
}

.list-group-item>.badge {
    float: none;
}

a {
    font-size: x-large;
}

.card-body, li {
    background-color: teal;
}

.title {
    font-size: x-large;
    text-align: center;
}
